.home-main {
    margin-left: 360px;
    margin-right: 359px;
    padding-top: 208px;
    padding-bottom: 124px;
    padding-left: 52px;
    background: url("/public/images/home-main-bg.png") no-repeat;
}

.home-main-title {
    width: 434px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 65px;
    line-height: 1.25;
    color: #292F36;
}

.home-main-desc {
    width: 433px;
    margin-top: 18px;
    font-family: "Jost", sans-serif;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: .01em;
    color: #4D5053;
}

.home-main-action {
    width: fit-content;
    margin-top: 21px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 48px;
    padding-right: 49px;
    background-color: #292F36;
    border-radius: 18px;
    gap: 10px;

    .action-name {
        font-family: "Jost", sans-serif;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: .02em;
        color: #fff;
    }
}

.home-work {
    margin-top: 200px;
    margin-left: 381px;
    margin-right: 381px;
}

.home-work-item {
    width: 358px;
    text-align: center;

    .work-item-title {
        font-family: "DM Serif Display", serif;
        font-weight: 400;
        line-height: 1.25;
        color: #292F36;
    }

    .work-item-desc {
        width: 358px;
        margin: 20px auto;
        margin-bottom: 0;
        font-family: "Jost", sans-serif;
        font-size: 22px;
        line-height: 1.5;
        letter-spacing: .01em;
        color: #4D5053;
    }

    .work-item-action {
        width: fit-content;
        margin: 52px auto;
        margin-bottom: 0;
        gap: 12px;

        .action-name {
            font-family: "Jost", sans-serif;
            font-weight: 600;
            font-size: 18px;
            letter-spacing: .02em;
            color: #4D5053;
        }
    }
}

.home-about {
    width: fit-content;
    margin: 200px auto;
    margin-bottom: 0;
    gap: 75px;
}

.home-about-tiltle {
    width: 420px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.25;
    letter-spacing: .02em;
    color: #292F36;
}

.home-about-desc {
    width: 472px;
    margin-top: 33px;
    font-family: "Jost", sans-serif;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: .01em;
    color: #4D5053;
}

.home-about-call {
    margin-top: 45px;
    gap: 15px;

    .call-contact {
        font-family: "Jost", sans-serif;
        font-size: 22px;
        line-height: 1.5;
        letter-spacing: .01em;
        color: #4D5053;

        span {
            display: block;
            font-weight: 700;
        }
    }
}

.home-about-action {
    width: fit-content;
    margin-top: 47px;
    padding: 26px 31px;
    background-color: #292F36;
    border-radius: 18px;
    gap: 10px;

    .action-name {
        font-family: "Jost", sans-serif;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: .02em;
        color: #fff;
    }
}

.home-testimonial {
    margin-top: 200px;
    margin-left: 361px;
    margin-right: 360px;
    padding-top: 88px;
    padding-bottom: 88px;
    padding-left: 24px;
    padding-right: 25px;
    background-color: #F4F0EC;
    border-radius: 70px;
}

.home-testimonial-title {
    width: 547px;
    margin: 0 auto;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.25;
    letter-spacing: .02em;
    text-align: center;
    color: #292F36;
}

.home-testimonial-box {
    margin-top: 38px;
}

.home-testimonial-item {
    width: 370px;
    height: 339px;
    padding-top: 53px;
    padding-left: 37px;
    padding-right: 37px;
    background-color: #fff;
    border-radius: 40px;

    .testimonial-item-desc {
        margin-top: 25px;
        font-family: "Jost", sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 1.5;
        letter-spacing: .01em;
        color: #4D5053;
    }
}

.home-testimonial-author {
    gap: 23px;

    .author-name {
        font-family: "DM Serif Display", serif;
        font-weight: 400;
        font-size: 25px;
        line-height: 1.5;
        letter-spacing: .01em;
        color: #292F36;
    }

    .author-location {
        font-family: "Jost", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: .01em;
        color: #4D5053;
    }
}

.home-clients {
    width: fit-content;
    margin: 150px auto;
    margin-bottom: 0;
    gap: 108px;
}

.home-projects {
    margin-top: 150.68px;
    margin-left: 360px;
    margin-right: 359px;
}

.home-projects-title,
.home-blog-title {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.25;
    letter-spacing: .02em;
    text-align: center;
    color: #292F36;
}

.home-projects-desc,
.home-blog-desc {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: .01em;
    color: #4D5053;
}

.home-projects-desc {
    width: 737px;
    margin: 8px auto;
    margin-bottom: 0;
}

.home-projects-box {
    margin-top: 93px;
    flex-wrap: wrap;
    row-gap: 56px;
}

.home-counter {
    margin-top: 200px;
    padding: 151px 419px;
    background-color: #F4F0EC;
}

.home-counter-item {
    text-align: center;

    .counter-item-num {
        font-family: "DM Serif Display", serif;
        font-weight: 400;
        font-size: 85px;
        line-height: 1.25;
        letter-spacing: .02em;
        color: #CDA274;
    }

    .counter-item-desc {
        margin-top: 16px;
        font-family: "Jost", sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 1.5;
        letter-spacing: .01em;
        color: #4D5053;
    }
}

.home-blog {
    margin-top: 200px;
}


.home-blog-desc {
    width: 811px;
    margin: 12px auto;
    margin-bottom: 0;
    text-align: center;
}

.home-blog-box {
    width: fit-content;
    margin: 52px auto;
    margin-bottom: 0;
    gap: 27px;
}

.home-contact {
    margin: 200px 360px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #292F36;
    border-radius: 70px;
}

.home-contact-title {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    line-height: 1.25;
    color: #fff;
}

.home-contact-desc {
    margin-top: 11px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: .01em;
    color: #fff;
}

.home-contact-action {
    width: 273.14px;
    margin: 32px auto;
    margin-bottom: 0;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 37px;
    gap: 11px;
    background-color: #CDA274;
    border-radius: 18px;

    .action-name {
        font-family: "Jost", sans-serif;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: .02em;
        color: #fff;
    }
}