.team-main {
    padding-top: 178px;
    background: url("/public/images/team-main-bg.png") no-repeat;
}

.team-main-content {
    width: 503px;
    margin: 0 auto;
    padding: 41px 68px;
    background: #FFFFFF;
    border-radius: 37px 37px 0px 0px;
}

.team-main-title {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.25;
    color: #292F36;
}

.team-main-desc {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: .01em;
    text-align: center;
    color: #4D5053;
}

.team-box {
    margin-top: 200px;
    margin-left: 360px;
    margin-right: 359.81px;
    margin-bottom: 200px;
    flex-wrap: wrap;
    row-gap: 50px;
}

.team-item {
    width: 283.55px;
    text-align: center;
}

.team-item-title {
    margin-top: 17px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: .01em;
    color: #292F36;
}

.team-item-desc {
    font-family: "Jost", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: .01em;
    color: #4D5053;
}

.team-item-social {
    width: fit-content;
    margin: 16px auto;
    margin-bottom: 0;
    gap: 37px;
}